.container {
	display: none;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	right: -100vw;
	transition: all 1s;
}

.card {
	/* background-color: var(--beige-dark); */
	/* background: #DFB2B9; /* fallback for older browsers */
	/* background: linear-gradient(to bottom right,  #DFB2B9, #ECD0D5, #9192B0); */

	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: calc(98vh - 98px);
	line-height: 1.3;
	max-width: var(--card-width);
	position: relative;
}

.card,
.annonsKnapp {
	border-color: var(--red-light);
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
}

.headline,
.employer {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin: 12px 12px 0 12px;
	overflow: hidden;
	padding-bottom: 0;
	text-overflow: ellipsis;
}

.temporary {
	text-align: center;
	left: calc(50vw - 100px);
	top: 40vh;
	position: absolute;
	z-index: 20;
}

.temporary > button {
	margin: 4px;
}

.headline {
	font-size: 24px;
	-webkit-line-clamp: 3;
}

.employer {
	font-size: 20px;
	font-weight: 400;
	-webkit-line-clamp: 2;
}

.image {
	margin-top: 12px;
	width: 100%;
}

.headlineContainer,
.employerContainer,
.briefContainer {
	display: flex;
	flex-shrink: 1;
}

.briefContainer {
	flex-shrink: 100;
	height: calc(100%);
	overflow: hidden;
}

.brief {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 16px;
	height: calc(100%);
	margin: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*height: 100%;
	 display: flex;
	flex-grow: 1;
	font-size: 16px;
	margin-bottom: 12px; */
}

.annonsKnapp {
	background-color: var(--red-light);
	color: var(--white);
	cursor: pointer;
	font-weight: 700;
	height: 48px;
	border-radius: 0 0 4px 4px;
	width: 100%;

	/* position: absolute;
	bottom: 0; */
}

.active {
	display: flex;
	position: unset;
}
