:root {
	--black: #000000;
	--white: #fff;

	--primary-bg: rgba(203, 196, 151, 0.6);
	--primary-bg-menu: rgba(223, 219, 192, 1);

	--red-dark: #721904;
	--red-light: #8b341f;

	--beige-dark: #cbc497;
	--beige-light: #a89d55;

	--mustard-dark: #c1a016;
	--mustard-light: #d3b73d;

	--card-width: 375px;
}

html {
	height: 100vh;
}

main {
	padding: 0 24px;
}

body {
	background: var(--primary-bg); /*fallback for older browsers */
	/* background: linear-gradient(to bottom right, #dfb2b9, #ecd0d5, #9192b0); */
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	min-height: 100svh;
	padding: 0 24px;
}

* {
	box-sizing: border-box;
}

/* nav {
	display: flex;
	justify-content: space-around;
} */

.not-found,
.loading {
	margin: 30vh 0 48px 0;
	text-align: center;
}

.button {
	background-color: var(--red-light);
	border-radius: 8px;
	border-style: none;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 24px auto;
	min-width: 250px;
	text-transform: uppercase;
	padding: 12px;
}

.button:hover {
	background-color: var(--red-dark);
}

.button > a,
.button > a:visited,
.button > a:active {
	color: var(--white);
	text-decoration: none;
}

.text-page {
	display: flex;
	justify-content: center;
}

.text-card {
	/* background-color: var(--beige-dark); */
	background: #fff; /* fallback for older browsers */
	/* background: linear-gradient(to bottom right,  #DFB2B9, #ECD0D5, #9192B0); */
	/* background: linear-gradient(to bottom right,  #949CC0, #DFB2B9, #9192B0); */
	border-color: var(--red-light);
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	display: flex;
	flex-direction: column;
	height: calc(98vh - 98px);
	justify-content: center;
	padding: 0 24px;
	margin: 0 24px;
	max-width: var(--card-width);
}

.text-card > h1 {
	text-align: center;
}

.text-card > button {
	/* background-color: var(--red-light); */
	background: linear-gradient(to right, #721804b3, #8b351fb2);
}

.text-card > button:hover {
	background-color: var(--red-light);
}

.text-card > p {
	height: 100%;
	line-height: 1.5;
}

.shadow {
	box-shadow: 8px 12px 20px -12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 8px 12px 20px -12px rgba(0, 0, 0, 0.75);
}

div.text-card.saved-jobs {
	height: unset;
	justify-content: flex-start;
	margin: 0 auto 48px auto;
	padding-bottom: 48px;
}

.displayNone {
	display: none;
}

.centeredText {
	text-align: center;
}

.text-card > button.removeAll {
	background-color: var(--white);
	border-color: var(--black);
	border-style: solid;
	border-width: 2px;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 36px;
}