.navbar {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.Ske {
	height: 40px;
	margin: 24px;
	width: 70px;
}

.Logga {
	height: 60px;
	left: calc(50vw - 35px);
	position: absolute;
	top: 16px;
	width: 70px;
}

.hamburger {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	margin: 24px;
}

.navDesc {
	margin-right: 102px;
}

.navbarButton {
	background-color: #000000;
	border-radius: 8px;
	display: block;
	height: 5px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 40px;
}

a {
	text-decoration: none;
}

.navMenu {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--primary-bg-menu);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	left: -100%;
	min-height: 90%;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 3.5rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	width: 100%;
	z-index: 120;
}

.navItem {
	border-radius: 8px;
	font-weight: 600;
	list-style-type: none;
	margin-left: 5rem;
	margin: 30px 0;
}

.navLink {
	color: #000;
}

.navDesc {
	display: none;
}

.navMenu.active {
	left: 0;
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	-webkit-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}
