.h1 {
	text-align: center;
}

.form-container {
	text-align: center;
}

.textCard {
	background: #fff; /* fallback for older browsers */
	border-color: var(--red-light);
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: calc(98vh - 98px);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--card-width);
}

.login-form {
	border-color: var(--red-light);
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	font-size: 18px;
	margin: 5px;
	padding: 10px;
	width: 250px;
}

.login-button {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#721804b3),
		to(#8b351fb2)
	);
	background: -o-linear-gradient(left, #721804b3, #8b351fb2);
	background: linear-gradient(to right, #721804b3, #8b351fb2);
	border-radius: 25px;
	border: var(--white) 2px solid;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 50px;
	margin: 8px auto;
	min-width: 220px;
	padding: 12px;
	text-transform: uppercase;
}

.forgot-password,
.skapa-konto {
	color: var(--red-light);
	text-decoration: underline;
}

.social-media-container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.social-media-login-button {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	border-radius: 8px;
	border: var(--red-light) 2px solid;
	color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	margin: 5px;
	padding: 8px;
	width: 260px;
}

.social-media-icon {
	height: 20px;
	margin: 5px;
	width: 20px;
}

.skapa-konto-form {
	margin-top: -20px;
}

@media screen and (max-height: 700px) {
	.social-media-container {
		margin-bottom: 40px;
	}

	.login-button {
		margin-bottom: 20px;
	}
}
