.pil {
    width: 300px;
    height: 300px;
  }
  
  button {
    background: transparent;
    border: none; 
  }
  
  body {
    background-color: bisque;
  }
  
  .popup {
    background-color: transparent;
    width: 300px;
    height: 300px;
  }
  
  .pop {
    display: flex; 
    margin-top: 350px;
  }
  
  #popup-1.popup-content {
    background: transparent;
    border: 3px solid #fff;
    width: 300px;
    height: 300px;
  }
  
  
  
  