.pil {
	height: 300px;
	width: 321px;
}

.help {
	height: 30px;
	width: 30px;
}

.popBtn {
	background: transparent;
	border: none;
	bottom: 32px;
	position: absolute
}

.popup-content {
	background: -webkit-gradient(linear, left top, right top, from(#721804b3), to(#8b351fb2));
	background: -o-linear-gradient(left, #721804b3, #8b351fb2);
	background: linear-gradient(to right, #721804b3, #8b351fb2);
	border: 3px solid #fff;
	height: auto;
	width: auto;
}

#popup-root {
	position: absolute; 
    left: auto;
}