.container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: calc(98vh - 98px);
	line-height: 1.3;
	max-width: var(--card-width);
	position: relative;
	border-color: var(--red-light);
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
}

.profileCard {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.personImg {
	border-radius: 50%;
	border: 2px solid var(--red-light);
	margin: 24px;
	width: 200px;
	height: 200px;
}

.textContainer {
	width: 300px;
	height: 100px;
}

.textContainer h4 {
	text-decoration: 3px underline var(--red-light);
}

.textContainer p {
	font-size: 0.7em;
}

.mail,
.user {
	width: 15px;
	height: 15px;
}