.h1 {
	margin-bottom: 30px;
	text-align: center;
}

.sparade-jobb-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sparade-jobb-beskrivning {
	margin: 10px 0;
	width: 200px;
}

.ta-bort-jobb {
	cursor: pointer;
	font-size: 20px;
	margin-left: auto;
}

.employer-name {
	color: gray;
}

.button-container {
	margin: 12px;
	text-align: center;
}

.button {
	background-color: #721804bb;
	border-radius: 8px;
	border: none;
	color: white;
	height: 30px;
	width: 180px;
}

.underline {
	background-color: #721904;
	margin: 12px 0;
}