.main {
	background-image: url(../../public/startsida-bild1.jpg);
	flex-grow: 1;
	background-size: cover;
	background-position: center;
}

.logga-container {
	text-align: center;
	margin: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swipebutton {
	background: linear-gradient(to right, #721804b3, #8b351fb2);
	border-radius: 25px;
	border: var(--white) 2px solid;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 8px auto;
	min-width: 150px;
	text-transform: uppercase;
	padding: 12px;
	margin-bottom: 220px;
	margin-top: 20px;
}

.swipe-north-logga {
	width: 200px;
	height: 180px;
}

.button-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-top: -10px;
}

.button {
	background: linear-gradient(to right, #72180447, #8b351f5a);
	border-radius: 25px;
	border: var(--white) 2px solid;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	width: 250px;
	text-transform: uppercase;
	padding: 12px;
}

.skapaKonto,
.loggaIn {
	bottom: 12px;
	left: calc(50vw - 125px);
	position: absolute;
}

.loggaIn {
	bottom: 80px;
}
