.main {
	background-image: url(../../public/startsida-bild1.jpg);
	flex-grow: 1;
	background-size: cover;
	background-position: center;
}

.logga-container {
	text-align: center;
	margin: 20px;
}

.arrows-container {
	text-align: center;
	margin-top: -60px;
}

.arrowimage {
	width: 350px;
	height: 350px;
}

.swipebutton {
	background: linear-gradient(to right, #721804b3, #8b351fb2);
	border-radius: 25px;
	border: var(--white) 2px solid;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 8px auto;
	min-width: 150px;
	text-transform: uppercase;
	padding: 12px;
	margin-bottom: 200px;
}

.swipe-north-logga {
	width: 200px;
	height: 180px;
}

.button-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-top: -10px;
}

.button {
	background-color: transparent;
	border-radius: 25px;
	border: var(--white) 2px solid;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 8px auto;
	min-width: 200px;
	text-transform: uppercase;
	padding: 12px;
}

.icon-container {
	text-align: center;
}

.icon {
	height: 30px;
	width: 30px;
	margin: 5px;
}
