:root {
	--black: #000000;
	--white: #fff; 

	--red-dark: #721904;
	--red-light: #8B341F;

	--beige-dark: #CBC497;
	--beige-light: #A89D55;
	

	--mustard-dark: #C1A016;
	--mustard-light: #D3B73D;
}

nav {
	display: flex;
	justify-content: space-around;
}

.card {
	border-width: 4px;
	border-color: var(--red-dark);
	display: flex;
	flex-direction: column;
	max-width: 500px;
}