:root {
	--black: #000000;
	--white: #fff;

	--red-dark: #721904;
	--red-light: #8b341f;

	--beige-dark: #cbc497;
	--beige-light: #a89d55;

	--mustard-dark: #c1a016;
	--mustard-light: #d3b73d;
}

nav {
	display: flex;
	justify-content: space-around;
}
